<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243455079506-vkf18ht6ut8sfsofcai7kpn35o8icdhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243455079506-vkf18ht6ut8sfsofcai7kpn35o8icdhu</string>
	<key>API_KEY</key>
	<string>AIzaSyCV7lg6OvVda0CYXLDKL0Hn5roTBygG_bo</string>
	<key>GCM_SENDER_ID</key>
	<string>243455079506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myTimeManager.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-time-manager-c6375</string>
	<key>STORAGE_BUCKET</key>
	<string>my-time-manager-c6375.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243455079506:ios:422e1384fd876b842edb8b</string>
</dict>
</plist>